---
import { getCollection } from "astro:content";
import arrayDateComparator from "src/utils/array-date-comparator";
import Layout from "src/layouts/Layout.astro";
import BriefPerEntry from "src/components/BriefPerEntry.astro";

const allArticles = await getCollection("articles");
const allReactions = await getCollection("reactions");
const allHotLinks = await getCollection("hotlinks");
---

<Layout>
  <section class="flex flex-col gap-12">
    {
      [...allArticles, ...allReactions, ...allHotLinks]
        .sort(arrayDateComparator((entry) => entry.data.publishedAt))
        .map((entry) => <BriefPerEntry entry={entry} />)
    }
  </section>
</Layout>
