---
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";
import arrayDateComparator from "src/utils/array-date-comparator";
import BriefReaction from "src/components/BriefReaction.astro";

const reactions = await getCollection("reactions");
---

<Layout>
  <section class="flex flex-col gap-12">
    {
      reactions
        .sort(arrayDateComparator((entry) => entry.data.publishedAt))
        .map((entry) => <BriefReaction entry={entry} />)
    }
  </section>
</Layout>
