---
interface Props {
  tags: Array<string>;
}

const { tags } = Astro.props;
---

<span class="flex gap-3">
  {
    tags.map((item) => (
      <a
        href={`/tags/${item}`}
        class="text-[#159957] hover:text-[#159957]/[0.9]"
      >
        #{item}
      </a>
    ))
  }
</span>
