---
interface Props {
  tags: Array<string>;
}

const { tags } = Astro.props;
---

{
  tags && (
    <span class="flex gap-1 text-emerald-800">
      {tags.map((item) => (
        <a href={`/tags/${item}`}>#{item}</a>
      ))}
    </span>
  )
}
