---
interface Props {
  href: string;
  newTab?: boolean;
  class?: string;
}

const { href, newTab = false, class: className = "" } = Astro.props;
---

<a
  class:list={["underline", className]}
  href={href}
  target={newTab ? "_blank" : "_self"}
  rel="noreferrer"
>
  <slot />
</a>
