---
import { format } from "date-fns";
import Layout from "src/layouts/Layout.astro";
import type { ArticleData } from "src/content/config";
import type { MarkdownLayoutProps } from "astro";
import ArticleTags from "src/components/ArticleTags.astro";

interface Props extends MarkdownLayoutProps<ArticleData> {}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="flex flex-col gap-12">
    <div class="flex flex-col gap-4">
      <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
      <time class="text-base text-gray-400"
        >{format(new Date(frontmatter.publishedAt), "yyyy-MM-dd")}</time
      >
      <img src="http://placekitten.com/1200/800" />
    </div>
    <article class="prose dark:prose-invert">
      <slot />
    </article>
    <ArticleTags tags={frontmatter.tags} />
  </div>
</Layout>
