---
import "@fontsource-variable/fira-code";
import Logo from "src/components/Logo.astro";
import ThemeToggle from "src/components/solid/ThemeToggle";

interface Props {
  title: string;
}

const { title } = Astro.props;
const PUBLIC_UMAMI_WEBSITE_ID = import.meta.env.PUBLIC_UMAMI_WEBSITE_ID;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="IF Developer's blog" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    {
      PUBLIC_UMAMI_WEBSITE_ID && (
        <script
          async
          src="https://analytics.eu.umami.is/script.js"
          data-website-id={PUBLIC_UMAMI_WEBSITE_ID}
        />
      )
    }
  </head>
  <body class="bg-gray-100 dark:bg-[#1D1D35] text-gray-600 dark:text-[#E9EDDE]">
    <header class="container px-12 py-3 lg:px-56">
      <nav class="flex items-center justify-between mx-auto">
        <div class="flex flex-1 justify-start">
          <a href="/">
            <Logo />
          </a>
        </div>
        <div class="flex"></div>
        <div class="flex flex-1 justify-end">
          <ThemeToggle client:load />
        </div>
      </nav>
    </header>
    <main class="container p-12 lg:px-56">
      <slot />
    </main>
  </body>
</html>

<style is:global></style>

<script is:inline>
  (() => {
    const defaultTheme =
      window.localStorage.getItem("theme") ||
      (window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light");

    document.documentElement.classList.toggle("dark", defaultTheme === "dark");
    window.localStorage.setItem("theme", defaultTheme);
  })();
</script>
